<form #listingForm="ngForm" (ngSubmit)="onFormSubmit(listingForm)">
  <div class="form-group">
    <label for="seller">Seller Name</label>
    <input type="text" class="form-control" id="Seller"  placeholder="Enter Seller name">
  </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" ></textarea>
    </div>
    <div class="form-group">
      <label for="buyout">Price</label>
      <input type="number" class="form-control" id="buyout"  placeholder="Enter Price">
    </div>
  

    <div class="form-group">
      <label for="Location">Location</label>
      <input type="text" class="form-control" id="Location"  placeholder="Enter Location">
    </div>
    <div class="form-group">
      <input style="display: none" type="file"  #fileInput>
  <button (click)="fileInput.click()">Select File</button>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
