<div class="jumbotron text-center">
    <h1 class="display-4">Hello, Seller!</h1>
    <p class="lead">Welcome to Property Marketplace</p>
    <a class="btn btn-primary" href="#" role="button">See All Listings</a>
    <a class="btn btn-primary" routerLink="/add" href="#" role="button">Add Property</a>
   
    <!-- <a class="btn btn-primary" href="#" role="button">Edit Profile</a> -->
    <hr class="my-4">

  </div>
<div class="row">
    <div class="col-lg-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">

    <h1 class="text-center"></h1>
  
    <div class="row">
      <div class="col-sm-4" >
        
          </div>
        </div>
      </div>
      </div>
